*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}


body{
    height: 100vh;
    /* width: 100%; */
    text-align: center;
    background-color: var(--background-color);
    padding: 2rem;
}
.header_content{

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    /* border: 2px solid black; */
    
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.logo_icon{
    height: 5.875rem;
    width: 1.938rem;
}
.logo_text{
    color: var(--text-color);
    font-weight: bold;
    font-size: 2rem;

}

.navigation_bar{
    display: none;
    gap: 1.5rem;
}

@media screen  and ( min-width: 768px) {
    .navigation_bar{ display: flex;
    }
    
}

.nav_link{
    color: var(--dark-gray);
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.nav_link:hover{
    color: var(--link-color);
}

.contact_button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 0.65rem 0.75rem;
    font-size: 1rem;
    font-weight: 600
        
}
.contact_button:hover{
   
    background-color: #5254f8;

}
@media screen and (min-width:768px){
    .contact_button{
        display: block;
        transform : all 0.5s;
    }
}

.menu_button{
    display: none;
}

@media screen and (max-width:768px) {
    .menu_button{
        display: block;
        background-color: var(--background-color);
        border: none;
        border-radius: 0.375rem;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.5rem 0.75rem;
    }
    
}

.menu_icon{
    height: 1.5rem;
    width: 1.5rem;
}


.main_section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0.6rem;
    gap: 2rem;

}

.content_left{
    text-align: center;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
}
@keyframes slidefromleft{
    0%{
        opacity: 0;
        transform: translateX(-100%);

    }
    100%{
        opacity: 1;
        transform: translateX(0);

    }
}

.section_label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section_heading{
    font-size: 2.23rem;
    padding: 1.2rem;
    color: var(--text-color);
}
.section_description{
    color: var(--dark-gray);
    font-size: 1.13rem;
    font-weight: 600;
    padding: 1rem;

}
.button_group{
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto;  */
    gap: 2rem;

}
.start_button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 0.65rem 0.75rem;
    font-size: 1rem;
    font-weight: 600

}
.start_button:hover{
    background-color: #5254f8;
}

.tour_button{
    
    border: none;
    border-radius: 0.375rem;
    background-color: var(--dark-gray);
    color: var(--background-color);
    padding: 0.65rem 0.75rem;
    font-size: 1rem;
    font-weight: 600

}
.tour_button:hover{
    background-color:var(--text-color);
}

.content_right{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.image_container{
    border-radius: 1.625rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 52vh;
}
.section_image{
    height: 100%;
    width: 100;
}

@media screen and (min-width: 768px) {
    .main_section{
        flex-direction: row;
    }
    .content_left{
        text-align: start;
        max-width: 50%;

    }
    .section_heading, .section_description{padding-left: 0;}
    .button_group{justify-content: start;}
    /* .section_label{font-size: 1rem;} */
    .section_heading{font-size: 4.2rem;}
    .image_container{height: 65vh}
    .section_description{font-size: 1.1rem;
        color: var(--gray);
        max-width: 78%;
    }
}

.company_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
    animation: slidefromleft 1s ease forwards;
}

.company_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem 1.3rem;
    gap: 3rem;
    margin-bottom: 2rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
}

.logo_container{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray);
}
.svg_img{
    height: 1.5rem;
}

.logo_txt{
    font-size: 1rem;
}

@media screen and (min-width:640px){
    .company_grid{
        grid-template-columns: repeat(4,1fr);
    }

    .company_title{
        font-size: 2.15rem;
        font-weight: bold;
    }

    
}

.feature_container{
    background-color: var(--light-gray);
    padding: 1.5rem 0;
    text-align: center;


}
.feature_content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
    
}
.main_info{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 1rem;
}

.main_title{
    font-size: 2.2rem;
    font-weight: bold;
}
.main_description{
    color: var(--dark-gray);
    font-size: 1.3rem;
    /* margin-bottom: 1.5rem; */

}

.feature_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 1.5rem;
    grid-gap: 1.3rem;
    
    max-width: 800px;

    
    /* display: flex;
    align-items: center;
    justify-content: center; */

}
.feature_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--accent-color);
    padding: 2rem;
    /* border: 2px solid black; */
    border-radius: 1rem;

}
.icon_container{
    border: none;
    border-radius: 100%;
    height: 5.5vh;
    width: 5.5vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;

}
.feature_information{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature_title{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--background-color);
}
.feature_description{
    font-size: 0.8rem;
    color: var(--background-color);
}


.feature_svg{
    height: 60%;
    width: 60%;

}
.feature_card:nth-child(1){
    background-color: #4a90e2;
}

.feature_card:nth-child(2){
    background-color: #ff6289;
}
.feature_card:nth-child(3){
    background-color: #fcbf58;
}
.feature_card:nth-child(4){
    background-color: #44bfc3;
}
.feature_card:nth-child(5){
    background-color: #77b05d;
}
.feature_card:nth-child(6){
    background-color: #7d78b1;
}

@media screen and (max-width:768px){
    .feature_grid{
        grid-template-columns: repeat(1,1fr);

    }
}

.testimonial_container{
    /* background-color: var(--light-gray); */
    /* text-align: center; */
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

}
.testimonial_content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
}

.testimonial_title{
    font-size: 1.8rem;
    font-weight: bold;
}
 
.testimonial_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 2rem;
}

.testimonial_card{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    border: 1px solid rgb(111, 107, 107);
    border-radius: 1rem;
    box-shadow: 0px 2px 4px rgba(158, 149, 149, 0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 0.3sec ease, box-shadow 0.3sec ease;
}

.testimonial_card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid blue;
}

.testimonial_avtar img {
    height: 5rem;
    width: 5rem;
}
.testimonial_text{
    font-size: 0.875rem;
    color: var(--dark-gray);
}

.testimonial_name{
    color: var(--primary-color);
    font-size: 1rem;
}
.testimonial_desc{
    font-size: 0.875rem;
    color: var(--dark-gray);
}

.newsletter_container{
    background-color: var(--background-color);
    padding: 2rem;
    max-width: 1280px;
    height: 50vh;
    margin: 0 auto;

}

.newsletter_content{
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    border-radius: 8px;
    overflow: hidden;
    


}
.news_left{
    height: 100%;
    width: 50%;
    display: none;
    border-radius: 8px;
}
.news_left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
@media screen and ( min-width:640px){
    .news_left{
        display: block;
    }

    
}

/* .news_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
} */

.news_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
}

.news_title{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);

}

.news_desc{
    color: #777;
    margin-top: -0.8rem;
}

.news_form{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.news_email{
    background-color: var(--background-color);
    color: #333;
    width: 100%;
    outline: none;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}
.news_email:focus{
    border-color: #2563eb;
    box-shadow: 0 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.news_send_button{
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 3.5rem;
    border: none;
    border-radius: 0.25rem;
}

.news_send_button:hover{
    background-color: var(--link-color);
}

.privacy_policy {
    font-size: 0.75rem;
    /* padding: 0 3rem; */
    color: #777;
}

.news_link{
    text-decoration: underline;
    /* color: #2563eb; */
}

.footer_container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    padding: 2rem 2.4rem;
    max-width: 1280px;
    text-align: left;
    display: flex;
    justify-content: space-between;

}

.footer_top{
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0;
    

}
.company_logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.8rem;

    /* margin-bottom: -1.9rem; */
    
}

.logo_svg{
    height: 2rem;
    width: 6rem;
}

.logo_link{
    display: flex;
    align-items: center;
    justify-content: start;
    /* margin-left: -0.8rem; */
    max-width: 9rem;
    font-size: 1.4rem;
    font-weight: bold;

}
.social_icon{
    width: 1.5rem;
    height: 1.5rem;
}

.filler_text{
    font-size: 1rem;
    color: #777;
}

.footer_grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 4rem;
    padding: 1rem 1rem;
}
.footer_grid_heading{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1.5rem;

}
ul{
    list-style-type: none;
}
.footer_link{
    color: #777;
    font-size: 1rem;
}

.footer_links_list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer_copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid #e5e7eb;

}

@media screen and (max-width:1080px){
    .footer{
        flex-direction: column;
        align-items: center;
    }
    
    
}
@media screen and (max-width:850px){

    .footer_grid{
        grid-template-columns: repeat(2,1fr);

    }
    
}